<section class="container">
  <h1>Welcome back, {{ user.username }}</h1>
  <div class="welcome row">
    <div class="col-md-4">
      <h2>Your Activity</h2>
      <div class="loading" ng-hide="activity || activityError">
        <i class="glyphicon glyphicon-refresh spinning"></i>
      </div>
      <dl ng-show="activity" ng-cloak>
        <dt ng-repeat-start="a in activity | orderBy: '-date'">
          <a ng-href="{{ activityLink(a) }}">{{ a.date | date: 'short' }}</a>
        </dt>
        <dd ng-repeat-end>
          You {{ a.description }}.
        </dd>
      </dl>
      <p class="error" ng-show="activityError" ng-cloak>{{ activityError }}</p>
    </div>    

    <div class="bottles col-md-4">
      <h2>Your bottle collection</h2>
      <div class="loading" ng-hide="bottles || bottleError">
        <i class="glyphicon glyphicon-refresh spinning"></i>
      </div>
      <ul class="activity" ng-show="bottles" ng-cloak>
        <li ng-repeat="b in bottles | orderBy: ['brand', 'variant']">
          <a ng-href="#/bottles/{{ b.id }}">{{ b.brand }} {{ b.variant }}</a>
        </li>
      </ul>
      <p class="error" ng-show="bottleError" ng-cloak>{{ bottleError }}</p>
    </div>
  </div>
</section>
