<div class="container taste">
  <h1>Log a Taste</h1>
  <div class="row">
    <div class="col-md-12">
      <form name="taste" novalidate>
        <div class="col-md-3 nopad">
          <label>Brand:</label>
          <select class="form-control" ng-model="brandId" ng-disabled="!brands"
            ng-change="getVariants(brandId)" ng-options="b.id as b.name for b in brands">
          </select>
          <br />

          <label>Variant:</label>
          <select class="form-control" ng-model="variantId" ng-disabled="!variants || variants.length == 0"
            ng-change="loadDetails(variantId)" ng-options="v.id as v.name || 'Standard' for v in variants">
          </select>
          <br />
        </div>

        <div class="col-md-3 col-md-offset-1 nopad">
          <label>Date:</label>
          <datepicker ng-model="date.date" max-date="maxDate" show-weeks="false"></datepicker>
        </div>

        <div class="col-md-3 nopad">
          <label>Time:</label>
          <timepicker ng-model="date.time" class="timepicker"></timepicker>
        </div>

        <div class="clearfix"></div>
        <br />

        <table class="details" ng-show="variant" ng-cloak>
          <tr>
            <th>Whisky</th>
            <th>Style</th>
            <th>Proof</th>
          </tr>
          <tr>
            <td>{{ brand.name }} {{ variant.name || "Standard" }}</td>
            <td>{{ variant.style }}</td>
            <td>{{ variant.proof }}</td>
          </tr>
        </table>
        <br />

        <div class="col-md-3 nopad">
          <label>Review:</label>
          <textarea class="form-control" rows="3" ng-model="review"></textarea>
          <br />

          <label>Rating:</label>
          <input type="text" class="form-control rating" ng-model="rating" /> out of 5
          <br />

          <input type="submit" class="btn" ng-click="taste.$valid" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div>
