html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #385928;
  color: #ead8a8;
  margin-bottom: 80px;
}

[ng-cloak] {
  display: none !important;
}

.navbar { margin-bottom: 0; }
.navbar-header a { padding-left: 0; }

a:link, a:visited { color: #cc8646; text-decoration: none; }
a:hover, a:active { color: #290e0e; text-decoration: none; }

input {
  color: #000000;
}

h1 { margin-bottom: 25px; }
h2 { font-size: 28px; }
h2, h3, h4 { font-weight: bold; color: #ccb555; }

h1 small { color: #ccb555; }

ul.nav { font-weight: bold; }
ul.nav a:link, ul.nav a:visited { color: #ccb555; }

a.navbar-brand { font-size: 22px; font-weight: bold; }

.jumbotron { background-color: #f2eda7; }
.jumbotron h1 { font-weight: bold; color: #18260e; margin-bottom: 0; }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #172106;
  padding: 15px 0;
  font-size: 12px;
}

footer a:link, footer a:visited { color: #a69b03; }
footer a:hover, footer a:active { color: #b9bf04; text-decoration: none; }

label {
  display: block;
}

input[type="text"], input[type="password"] {
  display: inline-block;
  margin-bottom: 15px;
}

table.details { margin-left: -10px; }
.details th, .details td { padding: 2px 10px; }

th { font-weight: bold; color: #ccb555; }

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.error { color:#db9a38; }

.ng-touched.ng-invalid { background-color: #ffddaa; }

#brandList {
  padding-left: 0;
}

#brandList li {
  margin-left: 0;
  margin-bottom: 5px;
  list-style-type: none;
}

.loading {
  padding-left: 35px;
}

.welcome dt {
  font-size: 11px;
}

.welcome dd {
  margin-bottom: 10px;
}

.welcome .bottles ul {
  margin: 0;
  padding: 0;
}

.welcome .bottles li {
  list-style-type: none;
  margin-bottom: 6px;
}

.bottle dt, .taste dt {
  font-size: 11px;
  color: #CCB555;
}

.bottle dd, .taste dd {
  margin-bottom: 10px;
}

.nopad {
  padding: 0;
}
