html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #385928;
  color: #EAD8A8;
  margin-bottom: 80px;
}

a:link, a:visited { color: #CC8646; text-decoration: none; }
a:hover, a:active { color: #290E0E; text-decoration: none; }

input {
  color: #000000;
}

h1 { margin-bottom: 25px; }
h2 { font-size: 28px; }
h2, h3, h4 { font-weight: bold; color: #CCB555; }

.jumbotron { background-color: #F2EDA7; }

.jumbotron h1 { font-weight: bold; color: #18260E; margin-bottom: 0; }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #172106;
  padding: 15px 0;
  font-size: 12px;
}

footer a:link, footer a:visited { color: #A69B03; }
footer a:hover, footer a:active { color: #B9BF04; text-decoration: none; }

label {
  display: block;
}

input[type="text"], input[type="password"] {
  display: block;
  margin-bottom: 15px;
}

table { margin-left: -10px; }
th, td { padding: 2px 10px; }

th { font-weight: bold; color: #CCB555; }

#brandList {
  padding-left: 0;
}

#brandList li {
  margin-left: 0;
  margin-bottom: 5px;
  list-style-type: none;
}
